/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-card-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.example-header-image {
    background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);
    background-size: cover;
}

n2n-login-page, n2n-registration-page, n2n-top-nav {
    display: flex;
    flex: 1;
}

.mw-30 {
    min-width: 30%;
}


.text-white .mat-button-wrapper {
    color: white;
}

.outline-n > button:focus, .mat-menu-content > button:focus {
    outline: none;
  }