<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header '>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <div class="row">
                    <div class="col-md-4">
                        <a class='navbar-brand size-text' [routerLink]="['/Make-a-Promise']">N2N</a>
                    </div>   
                    <div class="col-md-4">
                        <button (click)="logIn()" ><span class="fa fa-key fa-4x"></span>Log In</button>
                    </div>    
            </div>
            <div>
               <span class='navbar-brand '>Anonymous</span> 
            </div>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Make-a-Promise']">
                         Make a Promise
                    </a>
                </li>
                
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Send-Gift']">
                        Send Gift
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Send-PostCard']">
                        Send PostCard
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
