<nav class="navbar navbar-expand-sm  flex-column  navbar-light bg-light main-nav">
  <div class="row">
      <a class="navbar-brand col-sm-6 size-text" href="#">N2N</a>
      
      <button mat-raised-button class="navbar-brand col-sm-6" (click)="openDialog()">
        <span class="fa fa-key fa-4x"></span>Log In
      </button>
      <button (click)="logout()">logout</button>
      <button (click)="checkout()">checkout</button>
  </div> 
  <span class='navbar-brand '>Anonymous</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex-column">
      <li class="nav-item active ">
        <a class="nav-link" href="/Make-a-Promise">Make a Promise
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Send-Gift">Send Gift</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/Send-PostCard">
          Send PostCard
        </a>
      </li>
    </ul>
  </div>
</nav>