
<h1 mat-dialog-title>Log In</h1>
<div class="container">
<div  mat-dialog-content>
    
    <mat-form-field >
        <input matInput placeholder="NickName" #nickname  tabindex="1">
    </mat-form-field>
    <br>
    <mat-form-field >
        <input matInput placeholder="Password" #password  tabindex="2">
    </mat-form-field>
    <br>
    <img class="size-picture" src="https://s15.stc.all.kpcdn.net/share/i/12/7250594/inx960x640.jpg" alt="capcha">
    <mat-form-field>
        <input matInput #capcha placeholder="Your Answer"  tabindex="3">
    </mat-form-field>
    <section class="align-left"  >
    <mat-checkbox>Remember me</mat-checkbox>
    <a class="align-rigth" (click)="openDialog()" > Register </a>
    </section>
    <br>
</div>
<div mat-dialog-actions class="align-rigth">
  <button mat-button (click)="sendDataLogIn(nickname.value,password.value,capcha.value)" tabindex="4">Log In</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
</div>

