<form>
    <div>
    <span>Promise</span>
    <textarea #textPromise name="promise" cols="60" rows="3" required></textarea>
    </div>
    <div>
    <span>Due date</span>
    <input #dataImplementationPromise type="date">
    </div>
    <div>
    <input #isPublish type="checkbox" >
    <span>Publish on common lists</span>
    </div>
    <div *ngIf="isMetaMaskInstalled">
    <input type='submit' value="Save in blockchain">
    </div>
    <div>
    <input type='submit' (click)="savePromiseOnServer(textPromise.value,dataImplementationPromise.value,isPublish.checked)" value="make the Promise">
    </div>
    <Make-a-Promise-Success [text]="textPromise.value" [date]="dataImplementationPromise.value"></Make-a-Promise-Success>
</form>
