<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>-->
  <appSettings>
    <add key="isInMemory" value="false"/>
    <add key="inMemoryDatabaseName" value="testTwo"/>
    <add key="connectionStringe" value="Server=(localdb)\mssqllocaldb;Database=n2n-test;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </appSettings>
</configuration>