<log4net>
  <appender name="PapertrailRemoteSyslogAppender" type="N2N.Utilities.Logging.n2nRemoteSyslogAppender">
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName}" />
    <layout type=" N2N.Utilities.Logging.Log4NetLayout" />
    <remoteAddress value="logs4.papertrailapp.com" />
    <remotePort value="13073" />
  </appender>

  <root>
  <level value="DEBUG" />
  <appender-ref ref="PapertrailRemoteSyslogAppender" />
  </root>
</log4net>