<header class='d-block d-sm-none'>
        <h1 class='float-left'>N2N</h1>
        <button class='btn btn-outline-dark float-right '><i class='fa fa-2x fas fa-bars'></i></button>
        <div class="clearfix "></div>
        <nav class='row border-top border-dark '>
            <div class='col'>
            <ul class='list-group row'>
                <li class='list-group-item'>Profile</li>
                <li class='list-group-item'>Promise</li>
                <li class='list-group-item'>Post Card</li>
                <li class='list-group-item'>Gift</li>
                <li class='list-group-item'>Admin</li>
            </ul>
        </div>
        </nav>
</header> 